{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Stock Management{% endblock %}</h1> 
{% endblock %}

{% block content %}
    <form method="post">
        <p>Enter book information here (if the book does not exist in the warehouse, it will be added automatically.)</p>
        <p>
            <label for="title">Title: </label>
            <input type="text" name="title" required>
        </p>
        <p>
            <label for="author">Author : </label>
            <input type="text" name="author" required>
        </p>
        <p>
            <label for="isbn13">ISBN-13 : </label>
            <input type="text" name="isbn13" required>
        </p>
        <p>
            <label for="language_code">Language: </label>
            <input type="text" name="language_code" required>
        </p>
        <p>
            <label for="num_pages">Number of Pages: </label>
            <input type="number" name="num_pages" required>
        </p>
        <p>
            <label for="publication_date">Publication date (yyyy-mm-dd): </label>
            <input type="text" name="publication_date" required>
        </p>
        <p>
            <label for="publisher">Publisher: </label>
            <input type="text" name="publisher" required>
        </p>
        <p>
            <label for="cost">Cost: </label>
            <input type="number" name="cost" step=".01" required>
        </p>
        <p>
            <label for="stock_level">Stock Level: </label>
            <input type="number" name="stock_level" required>
        </p>
        
        
        <input type="submit" value="Record book">
    </form>
    

{% endblock %}